.menu
    .menu_current_link
    .menu_info
        .menu_info_title
            h2 Some stuff that I create with pure JS, SCSS, HTML
        .menu_items
            .menu_item
                h3
                    a(href='/') Home
            include items_list
        .menu_info_enter
            .menu_info_enter_title
                h4 Enter name or list number like cd ...  and press Enter:
            .menu_info_enter_input
                span
                input(id='enter' autofocus='1')